{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'components/_styles.html' %}
    <title>
      {% block title %}
      {% endblock title %}
      
    </title>
</head>
<body class="body">
  <div class="container">
    {% if messages %}
    <div id="message-container" class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050; width: 50%;">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show text-center message-alert"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'components/_header.html' %}
    <main >
      {% block main %}
      {% endblock main %}
    </main>
    {% include 'components/_footer.html' %}
  </div>
  {% include 'components/_scripts.html' %}

</body>
</html>